<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="header-container">
        <h5 style="margin: 0; text-align: right;">
            <form action="/logout" method="POST">
                <span>Already Register? <input
                        style="background: none; border: none; color: #fff; text-decoration: underline;" type="submit"
                        value="logout">
                    here</span>
            </form>
        </h5>
    </div>
    <div class="details-container">
        <h1 class="white center">Student Details</h1>
        <p>Name: <%= data.name %>
        </p>
        <p>Roll No: <%= data.rollno %>
        </p>
        <p>Email Id: <%= data.emailId %>
        </p>
        <p>Currunt Std: <%= data.std %>
        </p>
        <% if (data.studentData && data.studentData.length) { %>
            <% data.studentData.map(each=>{ %>
                <p>
                    <%= each.std %> Std : Remark = <%= each.remark %> and Percentage = <%= each.percentage %> %
                </p>
                <% }); %>
                    <% } %>
    </div>
</body>

</html>